<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!-- demo -->
        <typeAlias type="com.atlandes.demo.po.Demo" alias="com.atlandes.demo"/>
        <!-- auth -->
        <typeAlias type="com.atlandes.auth.bo.PermissionBO" alias="perBO"/>
    </typeAliases>

    <!-- 对事务的管理和连接池的配置 -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/dev"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

</configuration>