<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.atlandes.admin.dao.BaseInfoMapper">

    <resultMap id="BaseResultMap" type="com.atlandes.admin.po.BaseInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sort_id" property="sortId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
        <select id="getMoudle" resultMap="BaseResultMap">
            SELECT * FROM admin_module
        </select>
        <select id="selectModuleById" parameterType="java.lang.Long" resultMap="BaseResultMap">
            SELECT * FROM admin_module WHERE id = #{id}
        </select>
        <insert id="add" parameterType="com.atlandes.admin.po.BaseInfo" flushCache="true">
            INSERT INTO admin_module (des) VALUES (#{des})
        </insert>
        <update id="update" parameterType="com.atlandes.admin.po.BaseInfo">
            UPDATE admin_modules SET des=#{des} WHERE id=#{id}
        </update>
        <delete id="delete" parameterType="com.atlandes.admin.po.BaseInfo">
            DELETE FROM admin_module WHERE id=#{id}
        </delete>
    </mapper>